@font-face{
    font-family: 'RobotoSlab';
    src: url('../Asset/font/RobotoSlab-Regular.woff2') format('woff2'),
         url('../Asset/font/RobotoSlab-Regular.woff') format('woff'),
         url('../Asset/font/RobotoSlab-Regular.ttf') format('ttf'),
         url('../Asset/font/RobotoSlab-Regular.eot') format('eot'),
         url('../Asset/font/RobotoSlab-Regular.svg') format('svg');
    font-style: normal;
}

@font-face{
    font-family: 'RobotoSlab';
    src: url('../Asset/font/RobotoSlab-Bold.woff2') format('woff2'),
         url('../Asset/font/RobotoSlab-Bold.woff') format('woff'),
         url('../Asset/font/RobotoSlab-Bold.ttf') format('ttf'),
         url('../Asset/font/RobotoSlab-Bold.eot') format('eot'),
         url('../Asset/font/RobotoSlab-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'RobotoSlab';
    src: url('../Asset/font/RobotoSlab-Light.woff2') format('woff2'),
         url('../Asset/font/RobotoSlab-Light.woff') format('woff'),
         url('../Asset/font/RobotoSlab-Light.ttf') format('ttf'),
         url('../Asset/font/RobotoSlab-Light.eot') format('eot'),
         url('../Asset/font/RobotoSlab-Light.svg') format('svg');
    font-weight: 100;
    font-style: normal;
} 

html{
    -webkit-text-size-adjust: 100%;
}

/* body{
    background: #F3F3F3;
    color: #56565A;
    font-size: 12px;
    line-height: 12px;
    font-family: 'RobotoSlab', Helvetica, Arial, sans-serif;
    margin: 0;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

body a{
    text-decoration: none;
    color: #FF6B00;
} */

header{
    padding: 10px 50px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 99;
    background: rgb(46,117,135); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(46,117,135,1) 50%, rgba(15,128,28,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(46,117,135,1) 50%,rgba(15,128,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(46,117,135,1) 50%,rgba(15,128,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7587', endColorstr='#0f801c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a.the-logo{
    display: block;
    float: left;
    margin: 0;
    height: 30px;
    line-height: 30px;
    color: #666;
}

a.the-logo img{
    height: 30px;
    width: 200px;
    object-fit: contain;
    float: left;
    margin: 0 10px 0 0;
}

.tit-top{
    font-size: 20px;
    line-height: 28px;
    float: right;
    margin: 0;
    color: #FFF;
}

footer{
    background: #FFF;
    padding: 30px 20px;
    font-size: 12px;
    line-height: 14px;
}

footer .bottom-down{
    text-align: center;
    color: #6C6D71;
}

footer .bottom-down a{
    color: #3C3D41;
    font-weight: bold;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

footer .bottom-down a:hover{
    margin: 0 5px;
}

footer .bottom-down span{
    display: block;
    margin: 2px 0 0 0;
    font-size: 11px;
    color: #9C9DA1;
}

.martop{
    padding: 50px 0 0 0;
}

.marbot{
    padding: 0 0 20px 0;
}

.the-content{
    padding: 30px 50px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.the-content > ul{
    overflow: auto;
    margin: -10px;
}

.the-content > ul > li{
    padding: 10px;
    float: left;
    width: 25%;
    box-sizing: border-box;
    height: auto;
}

.the-content > ul > li > .the-section{
/*    border: 1px solid #FF6B00;*/
    padding: 20px;
    border-radius: 5px;
    background: #FFF;
}

.the-content > ul > li > .the-section > .tit-section{
    color: #56565A;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

.the-content > ul > li > .the-section > ul{
    margin: 10px 0 -5px 0;
}

/* .the-content > ul > li > .the-section > ul > li{} */

.the-content > ul > li > .the-section > ul > li > a{
    display: block;
    padding: 5px 0;
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
}

.the-content > ul > li > .the-section > ul > li > a:hover{
    color: #56565A;
}

.sitemap-update{
    text-align: center;
    padding: 20px 30px 0 30px;
    color: #666;
    border-top: 1px solid rgba(34, 60, 118, .25);
    margin: 0 0 0 0;
}

ul.legend{
    margin: 40px auto;
    overflow: auto;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

ul.legend li{
    float: left;
    padding: 20px;
    width: 16.66%;
    box-sizing: border-box;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    line-height: 20px;
}

ul.legend li:first-child{
    border-radius: 5px 0 0 5px;
}

ul.legend li:last-child{
    border-radius:  0 5px 5px 0;
}

.the-content > ul > li > .the-section > ul > li > a > span{
    padding: 3px 5px 5px 5px;
    color: #FFF;
    font-size: 11px;
    line-height: 11px;
    font-weight: bold;
    float: right;
    margin: -3px 0 0 5px;
    border-radius: 3px;
}

ul.legend li.on-plan,
.the-content > ul > li > .the-section > ul > li > a > span.on-plan{
    background: #CCC;
}

ul.legend li.on-work,
.the-content > ul > li > .the-section > ul > li > a > span.on-work{
    background: #01AAED;
}

ul.legend li.on-review,
.the-content > ul > li > .the-section > ul > li > a > span.on-review{
    background: #A8D137;
}

ul.legend li.on-update,
.the-content > ul > li > .the-section > ul > li > a > span.on-update{
    background: #cc0000;
}

ul.legend li.on-finish,
.the-content > ul > li > .the-section > ul > li > a > span.on-finish{
    background: #663096;
}

ul.legend li.new,
.the-content > ul > li > .the-section > ul > li > a > span.new{
    background: #FF6B00;
}

ul.legend li span{
    font-size: 11px;
    line-height: 14px;
    margin: 5px 0 0 0;
    font-weight: bold;
    min-height: 26px;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: box !important;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.the-progress{
    padding: 0 50px;
    width: 100%;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
}

.the-progress .progress-val{
    text-align: center;
    color: #86868A;
}

.the-progress .progress-val span{
    color: #56565A;
    font-weight: bold;
}

.the-progress .progress-bar{
    background: #FFF;
    padding: 1px;
    margin: 10px 0 0 0;
    border-radius: 5px;
/*    box-shadow: inset 0 0 5px #DDD;*/
}

.the-progress .progress-bar .the-width{
    background: rgb(46,117,135); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(46,117,135,1) 50%, rgba(15,128,28,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(46,117,135,1) 50%,rgba(15,128,28,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(46,117,135,1) 50%,rgba(15,128,28,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7587', endColorstr='#0f801c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: #FFF;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-shadow: 0 0 5px rgb(46,117,135);
    width: 0%;
    font-weight: bold;
}

.the-progress ul.prog-guide{
    overflow: auto;
    color: #86868A;
    font-weight: bold;
    padding: 5px 10px 0 10px;
    font-size: 12px;
    line-height: 16px;
}

.the-progress ul.prog-guide li{
    float: left;
    width: 33.33%;
    text-align: center;
}

.the-progress ul.prog-guide li:first-child{
    text-align: left;
}

.the-progress ul.prog-guide li:last-child{
    text-align: right;
}

@media screen and (min-width: 1025px) and (max-width: 1600px){}

@media screen and (min-width: 768px) and (max-width: 1024px){
    ul.legend{
        margin: 30px 10px 30px 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    ul.legend li{
        min-height: 78px;
    }
    
    .the-content > ul > li{
        width: 33.33%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    ul.legend li{
        min-height: 92px;
    }
    
    .the-content > ul > li{
        width: 50%;
    }
}

@media screen and (max-width: 767px){
    ul.legend,
    .the-progress,
    .the-content{
        padding-right: 20px;
        padding-left: 20px;
    }
    
    ul.legend{
        margin: 30px 0;
    }
    
    header{
        padding: 10px 20px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape){ 
    a.the-logo img{
        width: 140px;
    }
    
    ul.legend{
        margin-top: 30px;
    }
    
    ul.legend li{
        width: 33.33%;
        padding: 10px;
        min-height: 80px;
    }

    ul.legend li:first-child{
        border-radius: 5px 0 0 0;
    }

    ul.legend li:nth-child(3){
        border-radius: 0 5px 0 0;
    }

    ul.legend li:nth-child(4){
        border-radius: 0 0 0 5px;
    }

    ul.legend li:last-child{
        border-radius: 0 0 5px 0;
    }
    
    .the-content > ul > li{
        width: 50%;
    }
}

@media screen and (max-width: 767px) and (orientation: portrait){
    a.the-logo{
        margin: 5px auto 0 auto;
        float: none;
        text-align: center;
        height: auto;
    }
    
    a.the-logo img{
        float: none;
        margin: 0 0 5px 0;
    }
    
    .tit-top{
        font-size: 18px;
        line-height: 18px;
        margin: 5px 0 5px 0;
        text-align: center;
        float: none;
        display: block;
    }
    
    .martop{
        padding: 106px 0 0 0;
    }
    
/*
    ul.legend{
        margin-top: 63px;
    }
*/

    ul.legend li{
        width: 50%;
        padding: 10px;
        min-height: 80px;
    }

    ul.legend li:first-child{
        border-radius: 5px 0 0 0;
    }

    ul.legend li:nth-child(2){
        border-radius: 0 5px 0 0;
    }

    ul.legend li:nth-child(5){
        border-radius: 0 0 0 5px;
    }

    ul.legend li:last-child{
        border-radius: 0 0 5px 0;
    }
    
    .the-content > ul > li{
        width: 100%;
    }
}

/*
@media screen and (min-width: 1025px) and (max-width: 1600px){}

@media screen and (min-width: 768px) and (max-width: 1024px){}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){}

@media screen and (max-width: 767px){}

@media screen and (max-width: 767px) and (orientation: landscape){}

@media screen and (max-width: 767px) and (orientation: portrait){}
*/